altgraph==0.16.1
beautifulsoup4==4.6.3
certifi==2018.8.24
chardet==3.0.4
click==6.7
decorator==4.3.0
Flask==1.0.2
future==0.16.0
get==1.0.3
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
macholib==1.11
MarkupSafe==1.0
pefile==2018.8.8
post==1.0.2
public==1.0.3
PyInstaller==3.3.1
query-string==1.0.2
requests==2.20.0
requests-file==1.4.3
six==1.11.0
tldextract==2.2.0
tqdm==4.26.0
urllib3==1.23
urllib5==5.0.0
validators==0.12.6
Werkzeug==0.14.1
