body {
  font-family: 'Roboto Condensed', sans-serif;
}

div.content {
  padding: 25px;
  width: 80%;
  margin: 0 auto;
  opacity: 1;
}

section.result {
  padding: 25px;
  width: 80%;
  margin: 0 auto;
  animation: in 1s;
}

div.about {
  font-family: 'Nanum Gothic Coding', monospace;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: $primarycolor;
  p, span, a {
    font-size: 13px;
    line-height: 22px;
    margin: 0;
  }

  div.contactCard {
    margin: 25px 0;
    span,a,p {
      margin-bottom: 6px;
    }
  }
}

div.copyright {
  text-align: center;
  color: $primarycolor;
  span, a, p {
    font-size: 11px;
  }
}

section.status {
  margin-top: 20px;
}

section.errorWrapper {
  margin-top: 20px;
  font-size: 20px;
  img {
    max-width: 20px;
  }
}

a.navitem {
  display: inline-block;
  padding-left: 13px;
  margin-top: 13px;
  font-size: 13px;
  letter-spacing: 0.5px;
}

div.centerWrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
  p,a,span {
    font-family: 'Roboto Condensed', sans-serif;
    color: $primarycolor;
    font-size: 13px;
  }
  span.code {
    font-family: 'Nanum Gothic Coding', monospace;
    display: inline-block;
    background-color: $white;
    font-style: italic;
    padding: 0 13px;
  }
}

img.icon {
  vertical-align: sub;
}

@include keyframes(in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
[v-cloak] { display: none; }

.mt-50 {
  display: block;
  margin-top: 50px !important;
}

.mt-25 {
  display: block;
  margin-top: 25px !important;
}

img.anderswodenker {
  max-width: 130px;
}