body {
  //font-family: 'Nanum Gothic Coding', monospace;
  font-family: 'Roboto Condensed', sans-serif;
}

div.content {
  padding: 25px;
  width: 80%;
  margin: 0 auto;
  opacity: 1;
}

section.result {
  padding: 25px;
  width: 80%;
  margin: 0 auto;
  animation: in 1s;
}

section.status {
  margin-top: 20px;
}

section.errorWrapper {
  margin-top: 20px;
  font-size: 20px;
  img {
    max-width: 20px;
  }
}

img.icon {
  vertical-align: sub;
}

@include keyframes(in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
[v-cloak] { display: none; }