%scrollList {
  @include transition(all 5s ease);
  font-size: 13px;
  overflow: scroll;
  max-height: 120px;
  padding-right: 20px;
  li {
    color: $error;
    list-style: disc;
  }
}

aside.infobar {
  float: right;
  padding: 15px 25px;
  width: 200px;
  text-align: right;
  img {
    max-width: 13px;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      margin-bottom: 10px;
      padding-bottom: 10px;
      position: relative;
      p, span.head_title {
        font-size: 13px;
      }
      span.head_title {
        margin-bottom: 3px;
        text-align: left;
      }
    }
    &.sideinfo {
      margin-top: 20px;
      li {
        margin-bottom: 0;
      }
    }
  }

  ul.link_list {
    @extend %scrollList;
  }

  ul.comment {
    @extend %scrollList;
    li {
      font-style: italic;
      color: $warning;
    }
  }

  ul.todo {
    @extend %scrollList;
    li {
      color: $error;
    }
  }
}

div.footerbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $primarycolor;
  color: $white;
  font-size: 13px;
  padding: 5px;
  text-align: center;
  span {
    display: inline-block;
    margin: 0 5px;
    &.favicon {
      background-color: $white;
    }
  }
  img {
    width: 13px;
  }
}

div.scrollWrapper {
  margin-right: -20px;
  margin-top: 30px;
  width: 101%;
}

a.download {
  text-decoration: none;
}