aside.infobar {
  float: right;
  width: 33%;
  padding: 15px 0;
  max-width: 300px;
  img {
    max-width: 13px;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      margin-bottom: 10px;
      padding-bottom: 10px;
      p, span.head_title {
          font-size: 13px;
      }
      span.head_title {
        margin-bottom: 3px;
        text-align: left;
      }
    }
    &.sideinfo {
      margin-top: 50px;
    }
  }
}
