aside.infobar {
  float: right;
  width: 33%;
  padding: 15px 0;
  max-width: 300px;
  span.head_title {
    font-size: 16px;
  }
  img {
    max-width: 18px;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $primarycolor;
      p {
        margin: 3px 0;
      }
      span.head_title {
        margin-bottom: 3px;
      }
    }
    &.sideinfo {
      margin-top: 50px;

      li {
        p, span.head_title {
          font-size: 13px;
        }
      }
    }
  }
}
