  input[type="text"] {
    width: calc(100% - 10px);
    padding: 5px;
    background-color: $white;
  }

  button {
    @include transition(all .33s ease);
    @include transform(translateX(-13));
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(10% - 20px);
    color: $primarycolor;
    &:hover {
      color: black;
    }
  }

  form {
    &:focus-within {
      button {
        @include transform(rotate(90deg));
      }
    }
  }