section.result {
  display: inline-block;
  width: 60%;
  padding: 16px 0;
  position: relative;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      display: block;
      width: 100%;
      padding: 15px 0;
      margin-bottom: 20px;
      p {
        margin: 5px 0 0 0;
      }
    }
  }

  div.statusWrapper {
    margin-top: 16px;
    p, span {
      font-size: 14px;
    }
    img {
      max-width: 16px;
    }
  }
}

div.path {
  font-family: 'Nanum Gothic Coding', monospace;
  text-align: left;
  width: calc(100% - 24px);
  display: inline-block;
  margin: 13px 0;
  p, a {
    font-size: 13px;
  }
}

a.download {
  color: $primarycolor;
  margin-left: 13px;
  &:hover {
    color: black;
  }
}