h1 {
  font-family: 'Nanum Gothic Coding', monospace;
  text-align: center;
  color: $primarycolor;
  font-size: 18px;
}
h2 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 12px 0 0 0;
  font-size: 18px;
  letter-spacing: 0.5px;
}

p {
  font-size: 15px;
  line-height: 22px;
  color: $primarycolor;
  margin-bottom: 5px;
}

a {
  color: $primarycolor;

  &:hover {
    color: black;
  }
}

span.head_title {
  font-family: 'Nanum Gothic Coding', monospace;
  text-transform: uppercase;
  color: $primarycolor;
  display: inline-block;
}

.error {
  color: $error;
}

.warning {
  color: $warning;
}

.upper {
  text-transform: uppercase;
}

.click {
  cursor: pointer;
  &:after {
    @include transition(all .3s ease);
    font-family: 'feather' !important;
    content: "\e843";
    position: absolute;
    right: -20px;
    top: 5px;
    line-height: 1;
  }
    &:hover {
      &:after {
        @include transform(rotate(-90deg));
      }
  }
}