/* In need of overwriting bitters-variables, place them here. */
/* See: bower_components/bitters/core/variables.scss */


/* Place individual variables here */

// Breakpoints
//$bp1: 320px;
$bp2: 480px;
$bp3: 600px;
$bp4: 768px;
$bp5: 1110px;
$bp6: 1280px;
$bp7: 1920px;

// Colors
$white: #EDEEE9;
$black: rgb(0, 0, 0);

$darkBlue: #153763;
$blue: #005093;
$lightBlue: #4291D3;

$darkGray: #525355;
$lightGray: #D8D8D8;
$lightGray: #F5F5F5;

$primarycolor: #3E3E40;
$error: #c0392b;
$warning: #f1c40f;
$check: #27ae60;

$red: #B92B5D;

//global variables
$wrapperPadding: 50px;

// font weight
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

//z-index navigation elements
$z-index-navigation : 4;

//padding space (left/right) for sections
$side-space-mobile: 30px;
$side-space-desktop: 120px;

//grid content width
$content-width: 980px;

