{% extends "base.html" %}
{% block content %}
    <div class="about">
        <p>this tool give you an overview of some website basics:</p>
        <ul class="overview">
            <li>title</li>
            <li>description</li>
            <li>alt tags for images</li>
            <li>comments</li>
            <li>keywords</li>
            <li>author</li>
            <li>favicon</li>
            <li>todo's (if you declare it with <b>@todo</b> in your html)</li>
        </ul>
        <div class="contactCard mt-50">
            <span>markus daul</span>
            <span>hitzing 6a</span>
            <span>37139 adelebsen</span>
            <a href="mailto:syno@anderswodenker.de">syno@anderswodenker.de</a>
            <a href="https://github.com/andERswodenkER/syno"><i class="icon icon-github"></i> GitHub</a> <br>
            <span>for feature request write me an e-mail or use github</span>
        </div>
        <div class="copyright">
            <span>
                MIT License

                Copyright (c) 2018 Markus Daul

                Permission is hereby granted, free of charge, to any person obtaining a copy
                of this software and associated documentation files (the "Software"), to deal
                in the Software without restriction, including without limitation the rights
                to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
                copies of the Software, and to permit persons to whom the Software is
                furnished to do so, subject to the following conditions:

                The above copyright notice and this permission notice shall be included in all
                copies or substantial portions of the Software.

                THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
                IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
                AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
                LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
                SOFTWARE.
            </span>
            <br>
            <br>
            <span>this server will cost me 7$ per month. If you like this - feel free to donate (link in the footer)</span>
            <br>
            <span>written by anderswodenker</span>
            <br>
            <span>version: 0.4 (beta)</span>
        </div>
    </div>
{% endblock %}