{% extends "base.html" %}
{% block content %}
    <div class="centerWrapper">
        <p>
            <span>share with:</span> <br>
            <span class="code">https://www.syno.rocks/<b>scan</b>/yoursite.com</span> <br>
        </p>
        <p class="mt-25">
            <span>csv only:</span> <br>
            <span class="code">https://www.syno.rocks/<b>csv</b>/yoursite.com</span>
        </p>

    <span class="mt-50">some websites doesn't like robots like me, keep that in mind</span>
    </div>
{% endblock %}